/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
    text-decoration: none;
    color: #f07d9a;
}


/* The End of css reset */

.main {
    padding: 27px;
    position: relative;
}


.ipa-topic {
    font-size: 100px;
    text-align: center;
    position: relative;
    top: -33px;
}


.flex-parent {
    display: flex;
    /* align-items: center;
    justify-content: center; */
}


.words, .words-ipa {
    padding: 4%;
}
