/* CSSのリセット（消さないでください） */
html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p,
form, input, div {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
    text-decoration: none;
    color: #f07d9a;
}


/* The End of css reset */

.main {
    width: auto;
    padding: 0px 27px 27px 27px;
    position: relative;
    text-align: center;
    background-color: #F7FFF7;
}

input[name$="prev"] {
    margin-right: 42px;
}

.control-button {
    position: relative;
    top: -40px;
}

.control-button input {
    width: 70px;

}


.ipa-topic {
    font-size: 100px;
    
    position: relative;
    top: -33px;
}


.flex-parent {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.words, .words-ipa {
    padding: 4%;
}


.ipa_vs {
    margin-top: 20px;
}



/* animation */

.topic-enter {
    transform: translateX(120%);
    transition: .25s;
    top: 0;
}
.topic-enter-active {
    transform: translateX(0%);
}

.topic-exit {
    transform: translateX(0%);
    transition: .25s;
    position: absolute;
    top: 0;
}
.topic-exit-active {
    transform: translateX(-240%);
}